body {
    background-color: powderblue;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
    text-align: center;
    display: block;
}

.logo{
	width: 150px;
	height: auto;
	margin-left: auto;
    margin-right: auto;
    display: block;s
}